
<div id="chart_<%= id %>" class="chart"></div>


<% content_for :bottom do%>
<script type="text/javascript">

var chart_<%= id %>;
$(document).ready(function() {
   chart_<%= id %> = new Highcharts.Chart({
      chart: {
         renderTo: 'chart_<%= id %>',
         plotBackgroundColor: null,
         plotBorderWidth: null,
         plotShadow: false
      },
      title: {
         text: '<%= ctitle %>'
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: false,
            cursor: 'pointer',
            dataLabels: {
               enabled: false
            },
            showInLegend: true
         }
      },
       series: [{
         type: 'pie',
         name: 'Friends Identified',
         data: [
            {
               name: 'Did not know',    
               y: <%= unknown %>,
               sliced: true,
               selected: true
            },
            ['Did know',   <%= known %>]
         ]
      }]
   });
   
   //fix wierd border bug
  $('#chart_<%= id %>').delay(1000).css('padding', '2px');
});
</script>
<% end %>